div{
  background-color: rgb(211, 197, 223);
  padding: 20px;
}
ul{
  border-style: 22;
  padding-bottom:  30px;
}
li{
border:2px solid rgb(42, 33, 33);
border-radius: 8px;
border-spacing: 15px;
}
.header{
background-color: aqua;
width: 103px;
  height: 200px;
}
img{
  width: 150px;
  height: 100px;
  border-radius: 50px;
 
}

